@model IEnumerable<footballnet.Models.Game>

@{
    ViewBag.Title = "Index";
}


<h3>Upload JSON file with football statistics</h3>
@using (Html.BeginForm("Upload", "Games", FormMethod.Post, new { enctype = "multipart/form-data" })){
    <input type="file" class="multiple" name="files" multiple />
    <button>Upload</button>
}

<p>
    @Html.ActionLink("DeleteAll", "DeleteAll")
</p>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Spectators)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Place)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Spectators)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
